*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'TT Norms';
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 1054px;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

@font-face {
  font-family: 'TT Norms';
  src: local("TT Norms Pro Regular"), local("TT-Norms-Pro-Regular"), url("../fonts/TTNormsPro-Regular.woff2") format("woff2"), url("../fonts/TTNormsPro-Regular.woff") format("woff"), url("../fonts/TTNormsPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: local("TT Norms Pro Medium"), local("TT-Norms-Pro-Medium"), url("../fonts/TTNormsPro-Medium.woff2") format("woff2"), url("../fonts/TTNormsPro-Medium.woff") format("woff"), url("../fonts/TTNormsPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.header {
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 111px;
  height: 31px;
}

.header__menu {
  max-width: 433px;
  width: 100%;
}

.burger-icon {
  position: relative;
  display: none;
  width: 30px;
  height: 25px;
}

.burger-line {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -15px;
  border-radius: 10px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.burger-line::after {
  display: block;
  width: 11px;
  height: 2px;
  background-color: #000;
  content: '';
  margin-top: 7.6px;
  border-radius: 10px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.burger-line::before {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
  content: '';
  margin-top: -4.6px;
  border-radius: 10px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.burger-line.activ {
  height: 0;
}

.burger-line.activ::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: 8px;
}

.burger-line.activ::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin: -2px 0 -9px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  position: relative;
  min-width: 87px;
}

.menu__item--link {
  padding: .5em .5em;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #343E48;
  text-decoration: none;
}

.submenu {
  padding: .5em 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #343E48;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.submenu.activ {
  padding: 15px 20px 15px 25px;
  min-width: 158px;
  position: absolute;
  top: -26px;
  left: -5px;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  background-color: #fff;
}

.submenu__icon {
  max-width: 17px;
  max-height: 17px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submenu__item {
  display: none;
}

.submenu__item.activ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  margin-top: 16px;
  cursor: pointer;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons__item {
  cursor: pointer;
  padding: 5px;
}

.icons__item + .icons__item {
  margin-left: 20px;
}

.icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  color: #000;
}

.icons__link > p {
  margin-left: 5px;
}

.modal {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.12);
}

.modal__content {
  min-width: 303px;
  padding: 28px 45px 25px 45px;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
}

.modal__close {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

@media (max-width: 880px) {
  .icons__link p {
    display: none;
  }
}

@media (max-width: 740px) {
  .header__menu {
    display: none;
  }
  .burger-icon {
    display: block;
  }
}
