@import '_variables.scss', '_fonts.scss';

.header{
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.12);
    &__container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__logo{
        width: 111px;
        height: 31px;
    }
    &__menu{
        max-width: 433px;
        width: 100%;
    }
}

// burger icon
.burger-icon{
    position: relative;
    display: none;
    width: 30px;
    height: 25px;
    cursor: pointer;
}
.burger-line{
    display: block;
    width: 22px;
    height: 2px;
    background-color:#000;

    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -15px;
    border-radius: 10px;
    transition: all .3s ease 0s;
    &::after{
        display: block;
        width: 11px;
        height: 2px;
        background-color:#000;
        content:'';
        margin-top: 7.6px;
        border-radius: 10px;
        transition: all .3s ease 0s;
    }
    &::before{
        display: block;
        width: 20px;
        height: 2px;
        background-color:#000;
        content:'';
        margin-top: -4.6px;
        border-radius: 10px;
        transition: all .3s ease 0s;;
    }
    &.activ{
        height: 0;
        &::after{
            transform: rotate(-135deg);
            margin-top: 8px;
        }
        &::before{
            transform: rotate(135deg);
            margin: -2px 0 -9px 0;
        }
    }
}

// menu
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item{
        position: relative;
        min-width: 87px;
    }
    &__item--link{
        padding: .5em .5em;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        color: $darkGrey;
        text-decoration: none;
    }
}
.submenu{
    padding: .5em 20px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: $darkGrey;
    transition: all .3s ease 0s;
    &.activ{
        padding: 15px 20px 15px 25px;
        min-width: 158px;
        position: absolute;
        top: -26px;
        left: -5px;
        z-index: 1;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        background-color: #fff;
    }
    &__icon{
        max-width: 17px;
        max-height: 17px;
        margin-right: 5px;
        display: flex;
        align-items: center;
    }
    &__item{
        display: none;
        &.activ{
            display: flex;
            align-items: center;
            font-size: 10px;
            margin-top: 16px;
            cursor: pointer;
        }
    }
}

// icons
.icons{
    display: flex;
    align-items: center;
    &__item{
        cursor: pointer;
        padding: 5px;
        & + .icons__item{
            margin-left: 20px;
        }
    }
    &__link{
        display: flex;
        align-items: center;
        font-weight: 500;
        color: #000;
        background-color: transparent;
        cursor: pointer;
        & > p{
            margin-left: 5px;
        }
    }
}

// modal
.modal{
    &.show{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.12);
    }
    &.hide{
        display: none;
    }
    &__content{
        min-width: 303px;
        padding: 28px 45px 25px 45px;
        position: relative;
        background-color: #fff;
        border-radius: 15px;
    }
    &__close{
        width: 35px;
        height: 35px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }
    &__title{
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        color: #000;
    }
    &__input-tel,
    &__input-pass{
        display: block;
        padding: 19px;
        border: 1px solid #EBEBEB;
        border-radius: 17.5px;
        width: 100%;
    }
    &__btn{
        background-color: $green;
        color: #fff;
        padding: 13px;
        border-radius: 6px;
        cursor: pointer;
    }
}

// modal login in
.login-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        margin-top: 13px;
    }
    &__input-tel{
        margin-top: 28px;
    }
    &__input-pass{
        margin-top: 25px;
    }
    &__forgot-pass{
        margin: 14px;
        font-size: 14px;
        line-height: 17px;
        text-decoration: underline;
        color: $green;
    }
    &__btn{
        background-color: $green;
        color: #fff;
        padding: 13px;
        width: 143px;
        border-radius: 6px;
        cursor: pointer;
    }
    &__reg{
        margin-top: 24px;
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        color: #000;
        &-link{
            color: $green;
            text-decoration: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
}

// modal registration
.register{
    display: flex;
    & > form{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 290px;
    }
    &__input-tel{
        margin-top: 30px;
    }
    &__input-pass{
        margin-top: 27px;
    }
    & label{
        margin-top: 14px;
        width: 100%;
        font-size: 9px;
        line-height: 14px;
        display: flex;
    }
    &__check,
    &__rad{
        margin-right: 15px;
    }
    &__link{
        color: $green;
    }
    &__btn{
        margin-top: 38px;
        &:invalid{
            background-color: $darkGrey;
            color: $green;
        }
    }
}

// modal subscribe
.modal-subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        margin-top: 18px;
        max-width: 270px;
        text-align: center;
    }
    & form{
        margin-top: 33px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__btn{
        margin-top: 18px;
        font-size: 18px;
        line-height: 23px;
    }
}
// navigation
.navigation{
    padding-top: 60px;
}
// subscribe
.subscribe{
    display: flex;
    justify-content: space-between;
    background-color: #EDEDF7;
    border-radius: 18px;
    &__form{
        padding: 40px 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__title{
        font-family: 'TT Hoves';
        font-weight: 400;
        font-size: 31px;
    }
    &__subtitle{
       margin-top: 9px;
       font-family: 'TT Hoves';
       font-weight: 400;
       font-size: 19px;
       color: $lightGrey;
    }
    &__btn{
        margin-top: 31px;
        display: block;
        padding: 10px 30px;
        background-color: $green;
        border-radius: 5px;
        cursor: pointer;
        outline-style: none;

        font-family: 'TT Hoves';
        font-weight: 500;
        color: #fff;
        font-size: 25px;
    }
    &__img{
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
.swiper-container{
    width: 100%;
}


// Catalog
.catalog{
    margin-top: 12px;
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__title{
        font-weight: 500;
        font-size: 27px;
        line-height: 19px;
        color:#000;
    }
    &__tiles{
        margin: 29px -20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        @supports (display: grid){
            display: grid;
            grid-template-columns: repeat(auto-fill, 206px);
            column-gap: 10px;
            row-gap: 56px;
            justify-content: space-around;
        }

    }
    &__item{
        margin: 0 20px 56px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 206px;
    }
}
.item{
    &__img{
        width: 100%;
        padding: 25px;
        border-radius: 5px;
        background-color: #E5E5E5;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title{
        margin-top: 9px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    &__decoration{
        margin-top: 5px;
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
    }
    &__raiting{
        margin-top: 5px;
        display: flex;
    }
    &__price{
        margin-top: 9px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000;
        &--weight{
            margin-left: 18px;
            font-weight: 400;
            font-size: 12px;
            color: $lightGrey;
        }
    }
    &__btn{
        margin-top: 13px;
        padding: 9px 27px;
        background-color: $green;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 13px;
        color: #fff;
    }
}



@import '_media.scss';